html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background: #EFEFEF;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    width: 100%;
    min-height:100%;
    font-family: "Roboto";
}
.top_line {
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    background-color: #E5E5E5;
}
.top_line_menu {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.top_line_menu_point {
    margin-left: 30px;
    cursor: pointer;
}

.second_line {
    width: 100%;
    height: 150px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.second_line_menu_point {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-left: 40px;
    cursor: pointer;
    /* identical to box height */
    color: #000000;
    margin-top: 20px;
}
.second_line_menu {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.logo{
    display: flex;
    align-items: center;
}
.up_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}
.main_logo_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    margin-left: 20px;

    /* Accent */

    color: #66C05D;
}
.call_btn {
    /* Rectangle */
    box-sizing: border-box;
    width: 170px;
    height: 40px;

    background: #FFFFFF;
    /* Accent */

    border: 2px solid #66C05D;
    border-radius: 40px;
    margin-left: 40px;
    cursor: pointer;
}
.call_block {
    display: flex;
    align-items: center;
}

.sale {
    padding: 10%;
    padding-left: 15%;
    padding-right: 61%;
    background: url(sale_back.png) 0 0/cover no-repeat;
}
.sale_header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 250%;
    line-height: 56px;

    color: #FFFFFF;
}

.sale_description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    margin-top: 30px;
    font-size: 12px;
    line-height: 20px;
    /* or 143% */


    color: #FFFFFF;
}

.sale_description_btn {
        /* Rectangle */
    box-sizing: border-box;
    width: 70%;
    height: 40px;
    color: white;
    margin-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    
    background: rgba(0, 0, 0, 0);
        /* Accent */
    
    border: 2px solid white;
    border-radius: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_label {
    font-size: 90%;
}
.goods {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 50px;
}
.goods_items {
    display: flex;
    justify-content: space-between;
}

.goods_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    background-color: white;
    width: 21%;

}

.item_description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    color: #333333;
    margin-top: 7%;
    margin-bottom: 7%;
}

.price {
    margin-bottom: 7%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
}

.goods_img {
    width: 125px;
    height: 166px;
}
.goods_header {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buy_btn {
    background: #66C05D;
    border-radius: 30px;
    border: 0;
    width: 50%;
    height: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    cursor: pointer;

    text-align: center;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.add {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 15% 0 15%;
}

.subscribe {
    width: 40%;
    height: 150px;
    display: flex;
    flex-direction: row;
    padding: 30px 40px 30px 40px;
    background-color: #66C05D;
    justify-content: space-between;
    align-items: center;
}

.sub_inner {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.sub_header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.sub_description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;
}

.sub_input {
    background: #FFFFFF;
    border-radius: 30px;
    border: none;
    width: 80%;
    height: 35px;
    padding-left: 20px;
}

.our_shops {
    width: 40%;
    display: flex;
    flex-direction: row;
    padding: 30px 40px 30px 40px;
    background-color: #66C05D;
    justify-content: space-between;
}

.shops_inner {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.shops_header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.shops_description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 25px;
    margin-bottom: 25px;

    color: #FFFFFF;
}

.shops_btn {
    box-sizing: border-box;
    width: 170px;
    height: 35px;

    /* Accent */

    background: #66C05D;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    cursor: pointer;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.footer {
    height: 150px;
    margin-top: 100px;
}

.footer_line {
    background-color: white;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15% 0 15%;
}

.links {
    display: flex;
    flex-direction: row;
}
.link {
    width: 45px;
    height: 45px;
    margin-right: 8px;
}

.policy {
    background: #EFEFEF;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15% 5px 15%;
}

.pol_text {
    font-size: 10px;
}

